@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"rel="stylesheet");
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-black: #303030;
  --color-white: #ffffff;
  --color-yellow: #fed550;
  --color-orange: #ff624c;
  --color-purple: #1a237b;
  --color-red: #bd0034;
  --color-gray: #c4c4c4;
  --color-blue: #00579f;
  --color-black01: #30303038;
  --color-white01: #cccccc;
  --color-white02: #f4f4f4;
  --color-white03: #d9d9d9;
  --color-purple01: #283b82;
  --color-blue01: #469bdb;
  --breakpoint-xs: 320px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1700px;
}

.custom-select .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.custom-collapse {
  background-color: white !important;
  padding: 10px !important;
  border: none !important;
  border-radius: 25px !important;
  margin-bottom: 20px !important;
}
.custom-collapse:last-child {
  margin-bottom: 0 !important;
}
.custom-collapse .ant-collapse-content {
  border-top: none !important;
}
.custom-collapse .ant-collapse-header {
  display: flex !important;
  align-items: center !important;
  column-gap: 32px !important;
}
.custom-collapse .ant-collapse-expand-icon {
  height: 32px !important;
  width: 32px !important;
  padding-inline-end: 0 !important;
  background-color: #ff624c !important;
  border-radius: 50% !important;
  border: 2px solid #ff624c !important;
  justify-content: center !important;
}
.custom-collapse .ant-collapse-expand-icon svg {
  color: white !important;
}
.custom-collapse
  .ant-collapse-header[aria-expanded="true"]
  .ant-collapse-expand-icon {
  background-color: #ffffff !important;
}
.custom-collapse
  .ant-collapse-header[aria-expanded="true"]
  .ant-collapse-expand-icon
  svg {
  color: #ff624c !important;
}
.custom-collapse .ant-collapse-header-text {
  font-family: "Poppins", sans-serif !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #303030 !important;
}
.custom-collapse .ant-collapse-content-box {
  font-family: "Montserrat", sans-serif !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #303030 !important;
}
.custom_drawer .ant-drawer-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.custom_drawer .ant-drawer-close svg {
  color: #ffffff !important;
  height: 40px !important;
  width: 40px !important;
  border: 1px solid #ff624c !important;
  border-radius: 50% !important;
  padding: 10px !important;
  background-color: #ff624c !important;
}
.custom_drawer .ant-drawer-close svg:hover {
  color: #ff624c !important;
  background-color: #ffffff !important;
}
@media (max-width: 575px) {
  .custom-collapse .ant-collapse-header-text {
    font-size: 15px !important;
  }
  .custom-collapse .ant-collapse-content-box {
    font-size: 14px !important;
    font-weight: 400 !important;
  }
}
.product-custom-collapse .ant-collapse-item {
  border: none !important;
  background-color: #f4f4f4 !important;
}
.product-custom-collapse.ant-collapse {
  border: none !important;
}
.product-custom-collapse .ant-collapse-item .ant-collapse-header {
  border: none !important;
  padding: 20px !important;
  position: relative !important;
}
.product-custom-collapse .ant-collapse-item .ant-collapse-content {
  background-color: #f4f4f4 !important;
  border: none !important;
  padding: 12px !important;
}

.product-custom-collapse
  .ant-collapse-item
  .ant-collapse-header
  .ant-collapse-expand-icon {
  position: absolute !important;
  right: 20px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.product-custom-collapse
  .ant-collapse-item
  .ant-collapse-header
  .ant-collapse-expand-icon
  svg {
  height: 20px !important;
  width: 20px !important;
  color: #303030 !important;
}

.price-custom-slider .ant-slider-handle::after {
  background-color: #ff624c !important;
  height: 16px !important;
  width: 16px !important;
  border-radius: 50% !important;
  outline: #ff624c !important;
  box-shadow: none !important;
  top: -3px !important;
  left: -3px !important;
}
.ant-pagination-item {
  border: none !important;
  cursor: pointer !important;
}
.custom-form .ant-form-item-row {
  flex-direction: column !important;
}
.custom-form .ant-form-item-label {
  text-align: left !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #303030 !important;
  margin-top: 20px !important;
}
